{% extends 'base.html.jinja2' %}
{# receives variables: lang, concepts and resource from the dashboard route in app.py #}
{% block title %}FrontEnd Insights: {{lang}} Home{% endblock title %}

{% block header %}
    {% include 'dashboard/top-nav.html.jinja2' %}
{% endblock header %}

{% block main %}
    <div class="dashboard-container">
                {% include 'dashboard/lang/lang_home_content.html.jinja2' %}
    </div>
{% endblock main %}

{% block jsScript %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock jsScript %}
