@import url('./homecss/home-banner.css');
@import url('./homecss/home-cards.css');
@import url('./footer.css');
@import url('./dashboard/dashboard.css');
@import url('./dashboard/topnav.css');
@import url('./dashboard/sidebar.css');
/* @import url('./dashboard/css-concepts/css-concept.css'); */
@import url('./dashboard/all-concepts-intro.css');
@import url('./dashboard/example_code.css');
@import url('./dashboard/css-concepts/css_demo_controls.css');

* {
    box-sizing: border-box;
}

/* Reset margins and padding for common elements, but not all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}