{% extends 'base.html.jinja2' %}

{% block title %}FrontEnd Insights: {{lang}} Home{% endblock title %}

{% block header %}
    {% include 'dashboard/top-nav.html.jinja2' %}
{% endblock header %}

{% block main %}
    <div class="dashboard-container">
    {% include 'dashboard/sidebar.html.jinja2' %}
    
    <div class="main-content-area">
        {% include 'dashboard/lang_home.html.jinja2' %}
    </div>
    </div>
{% endblock main %}




